<mat-grid-list cols="3">
    <mat-grid-tile *ngFor='let user of users'>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{user.first_name}} {{user.last_name}}</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{user.avatar}}" alt="Photo of a {{user.first_name}} {{user.last_name}}">
            <mat-card-content>
                <p>
                    Id: {{user.id}}.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <a [routerLink]="['/user', user.id]"><button mat-button>Open page</button></a>

                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <!-- <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile> -->
</mat-grid-list>